*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'sans serif';
    box-sizing: border-box
}
body{
    background: #ffe7ca;

} 

.start{
    height: 100vh;
    width: 100%;
    background-image: url(img/HomeBackground.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 15%;
    padding-right: 15%;
}
.logo{
    color: #ffca6f;
    font-size: 44px;
    letter-spacing: 1px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color:#ffe7ca;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 22px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height:  3px;
    background-color: #ffca6f;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.25s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color:#ffca6f;
    transition: 0.25s;
}

.content{
    position: absolute;
    margin: auto;
    width: 60%;
    top: 50%;
    left: 20%;
    right: 20%;
    transform: translateY(-50%);
}
h1{
    color: #ffe7ca;
    margin: 20px 0px 10px;
    font-size: 85px;
    margin-bottom: 10px;
    text-align: center;
}
h4{
    text-align: center;
    color: #ffca6f;
    font-size: 25px;
    margin-bottom: 25px;
}
p{
    text-align: center;
    color: #ffca6f;
    font-size: 20px;
    margin-bottom: 25px;
}

.projects{
    background: #ffe7ca;
    width: 100%;
    padding: 100px, 0px;
}
.projectstitle h2{
    color:black;
    font-size: 80px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.firstrow{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}
.project{
    height: 560px;
    width: 414px;
    padding: 10px 35px;
    background-color: #fff9f3;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
}
.project:hover{
    transition: 0.25s;
    transform: scale(1.05);
}
.h5{
    color: black;
    font-size: 24px;
}
.projectimg{
    display: flex;
    justify-content: center;
    position: relative;
    align-self: center;
}


.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #f5c49c;
    align-items: center;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    text-align: center;
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    text-align: center;
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    text-align: center;
    color:black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.skills{
    background-color: #ffe7ca;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color:black;
    font-size: 80px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.programming{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.skill{
    height: 150px;
    width: 225px;
    padding: 15px 25px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h5{
    color: black;
    font-size: 23;
    margin-bottom: 15px;
    text-align: center;
}
.software{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.skill{
    height: 150px;
    width: 225px;
    padding: 15px 25px;
    margin: 15px;
    position: relative;
}
.skill img{
    height: 100px;
    width: 100px;
}
.skill img:hover{
    transform: scale(1.1);
    transition: 0.15s;
}
h5{
    color: black;
    font-size: 23;
    margin-bottom: 15px;
    text-align: center;
}

.contact{
    width: 100%;
    height: 290px;
    background: #f5c49c;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h2{
    font-size: 80px;
}

footer{
    position: relative;
    width: 100%;
    height: 150px;
    background: #ffe7ca;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.end{
    position: absolute;
    bottom: 35px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.copyright{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin: 22px 10px;
    color:black;
    text-decoration: none;
    font-size: 20px;
}