*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box
}
html{
    scroll-behavior: smooth;
}

body{
    background: #212529;
} 





.start{
    height: 50px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
}
.logo{
    color: #eab72d;
    font-size: 44px;
    letter-spacing: 1px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color:#f1faee;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 22px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height:  3px;
    background-color: #eab72d;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.25s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color:#eab72d;
    transition: 0.25s;
}





.Intro{
    display: flex;
}

.Intro .Text{
    margin: 15% 6%;
    margin-right: 10px;
    width: 45%;
    align-items: center;
}

.Text h1{
    font-size: 56px;
    color: #eab72d;
}

.Text .line{
    width: 70%;
    height: 0px;
    margin: auto 15%;
    background: #eab72d;
}

.Text p{
    font-size: 20px;
    padding: 0%;
    margin: 15px auto;
    color: #f1faee;
}

.Intro .Video{
    display: flex;
}

.Video img{
    margin: 30% 5%;
    width: 640px;
    height: 360px;
    cursor: pointer;
}





.FirstSection{
    display: flex;
    background-color: #343a40;
}

.FirstSection .Text{
    margin: 15% 7%;
    margin-right: 10px;
    width: 45%;
    align-items: center;
}

.FirstSection .Text p{
    font-size: 20px;
    padding: 0%;
    margin: 15px auto;
    color: #f1faee;
}

.FirstSection .Image{
    display: flex;
}

.FirstSection .Image img{
    margin: 30% 5%;
    width: 640px;
    height: 360px;
}





.SecondSection{
    display: flex;
}

.SecondSection .Text{
    margin: 16% 6%;
    margin-right: 10px;
    width: 45%;
    align-items: center;
}

.SecondSection .Text p{
    font-size: 20px;
    padding: 0%;
    margin: 15px auto;
    color: #f1faee;
}

.SecondSection .Image{
    display: flex;
}

.SecondSection .Image img{
    margin: 30% 5%;
    width: 640px;
    height: 360px;
}





.ThirdSection{
    display: flex;
    background-color: #343a40;
}

.ThirdSection .Text{
    margin: 15% 7%;
    margin-right: 10px;
    width: 45%;
    align-items: center;
}

.ThirdSection .Text p{
    font-size: 20px;
    padding: 0%;
    margin: 15px auto;
    color: #f1faee;
}

.ThirdSection .Image{
    display: flex;
}

.ThirdSection .Image img{
    margin: 30% 5%;
    width: 640px;
    height: 360px;
}





.FourthSection{
    display: flex;
}

.FourthSection .Text{
    margin: 14% 6%;
    margin-right: 10px;
    width: 45%;
    align-items: center;
}

.FourthSection .Text p{
    font-size: 20px;
    padding: 0%;
    margin: 15px auto;
    color: #f1faee;
}

.FourthSection .Image{
    display: flex;
}

.FourthSection .Image img{
    margin: 30% 5%;
    width: 640px;
    height: 360px;
}





.FifthSection{
    display: flex;
    background-color: #343a40;
}

.FifthSection .Text{
    margin: 14% 7%;
    margin-right: 10px;
    width: 45%;
    align-items: center;
}

.FifthSection .Text p{
    font-size: 20px;
    padding: 0%;
    margin: 15px auto;
    color: #f1faee;
}

.FifthSection .Image{
    display: flex;
}

.FifthSection .Image img{
    margin: 30% 5%;
    width: 640px;
    height: 360px;
}





.SixthSection{
    display: flex;
}

.SixthSection .Text{
    margin: 17% 6%;
    margin-right: 10px;
    width: 45%;
    align-items: center;
}

.SixthSection .Text p{
    font-size: 20px;
    padding: 0%;
    margin: 15px auto;
    color: #f1faee;
}

.SixthSection .Image{
    display: flex;
}

.SixthSection .Image img{
    margin: 30% 5%;
    width: 640px;
    height: 360px;
}



.start i{
    display: none;
}

/*---------------css for small screens-------------*/

@media only screen and (max-width: 600px){

    .start{
        background-position: center;
    }
    .start .logo{
        font-size: 0px;
    }
    .content{
        justify-content: center;
        position: absolute;
        width: 85%;
        left: 5%;
        right: 5%;
        transform: translateY(-50%);
    }
    .content h1{
        font-size: 44px;
    }
    .content h4{
        font-size: 22px;

    }
    .content p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    .start i{
        display: block;
        font-size: 25px;
    }

    .start nav ul{
        background: #eab72d;
        position: fixed;
        top: 0;
        right: -300px;
        width: 45%;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.25s;
    }

    .start nav ul li{
        display:block;
        margin: 5px;
    }

    .start nav ul i{
        color: #f1faee;
        position: absolute;
        top: 25px;
        left: 30px;
        cursor: pointer;
    }
    .start i{
        color: #f1faee;
        position: absolute;
        top: 25px;
        right: 35px;
        cursor: pointer;
    }

    /* ----- Titles and Text : Hover effects ----- */

    nav ul li a::after{
        content:'';
        width: 0;
        height:  3px;
        background-color: #f1faee;
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: 0.25s;
    }
    nav ul li a:hover::after{
            width: 100%;
    }
     nav ul li a:hover{
        color: #f1faee;
        transition: 0.25s;
    }

    /* ----- Sections ----- */

    .Intro{
        display: grid;
        display: inline-block;
        align-items: center;
        width: 100%;
        margin-top: 5px;
    }
        
    .Intro .Text{
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
        
    .Text h1{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        font-size: 48px;
        color: #eab72d;
        text-align: center;
    }
        
    .Text p{
        font-size: 18px;
        color: #f1faee;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
    }
        
    .Intro .Video{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
        
    .Video img{
        margin-top: 5px;
        margin-bottom: 15px;
        width: 480px;
        height: 240px;
        cursor: pointer;
    }
        
        
        
        
        
    .FirstSection{
        display: grid;
        display: inline-block;
        align-items: center;
        width: 100%;
        margin-top: 5%;
        background-color: #343a40;
    }
        
    .FirstSection .Text{
        margin-top: 25px;
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
        
    .FirstSection .Text p{
        font-size: 18px;
        color: #f1faee;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
    }
        
    .FirstSection .Image{
        margin-bottom: 1px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
        
    .FirstSection .Image img{
        margin-top: 25px;
        margin-bottom: 1px;
        width: 480px;
        height: 240px;
    }
        
        
        
        
        
    .SecondSection{
        display: grid;
        display: inline-block;
        align-items: center;
        width: 100%;
        margin-top: 5%;
        background-color: #343a40;
    }
        
    .SecondSection .Text{
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
        
    .SecondSection .Text p{
        font-size: 18px;
        color: #f1faee;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
    }
        
    .SecondSection .Image{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
        
    .SecondSection .Image img{
        margin-top: 5px;
        margin-bottom: 25px;
        width: 480px;
        height: 240px;
    }





    .ThirdSection{
        display: grid;
        display: inline-block;
        align-items: center;
        width: 100%;
        margin-top: 5%;
        background-color: #343a40;
    }
        
    .ThirdSection .Text{
        margin-top: 25px;
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
        
    .ThirdSection .Text p{
        font-size: 18px;
        color: #f1faee;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
    }
        
    .ThirdSection .Image{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
        
    .ThirdSection .Image img{
        margin-top: 25px;
        margin-bottom: 5px;
        width: 480px;
        height: 240px;
    }
        
        
        
        
        
    .FourthSection{
        display: grid;
        display: inline-block;
        align-items: center;
        width: 100%;
        margin-top: 5%;
        background-color: #343a40;
    }
        
    .FourthSection .Text{
        margin-top: 25px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
        
    .FourthSection .Text p{
        font-size: 18px;
        color: #f1faee;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
    }
        
    .FourthSection .Image{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
        
    .FourthSection .Image img{
        margin-top: 5px;
        margin-bottom: 35px;
        width: 480px;
        height: 240px;
    }




    .FifthSection{
        display: grid;
        display: inline-block;
        align-items: center;
        width: 100%;
        margin-top: 5%;
        background-color: #343a40;
    }
        
    .FifthSection .Text{
        margin-top: 25px;
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
        
    .FifthSection .Text p{
        font-size: 18px;
        color: #f1faee;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
    }
        
    .FifthSection .Image{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
        
    .FifthSection .Image img{
        margin-top: 25px;
        margin-bottom: 1px;
        width: 480px;
        height: 240px;
    }
        
        
        
        
        
    .SixthSection{
        display: grid;
        display: inline-block;
        align-items: center;
        width: 100%;
        margin-top: 5%;
        background-color: #343a40;
    }
        
    .SixthSection .Text{
        margin-top: 30px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
        
    .SixthSection .Text p{
        font-size: 18px;
        color: #f1faee;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
    }
        
    .SixthSection .Image{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
        
    .SixthSection .Image img{
        margin-top: 5px;
        margin-bottom: 50px;
        width: 480px;
        height: 240px;
    }
}

