*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    box-sizing: border-box
}
.start{
    height: 100vh;
    width: 100%;
    background-image: url(img/HomeBackground.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: black;
    font-size: 36px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:greenyellow;
    transition: 0.25s;
}
.btn{
    background-color: grey;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.25s;
}
.btn:hover{
    background-color: greenyellow;
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color:black;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h4{
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #f5c49c;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color:black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.skills{
    background-color: #ffe7ca;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color:black;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.programming{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.card{
    height: 150px;
    width: 225px;
    padding: 15px 25px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h5{
    color: black;
    font-size: 23;
    margin-bottom: 15px;
    text-align: center;
}
.software{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.card{
    height: 150px;
    width: 225px;
    padding: 15px 25px;
    margin: 15px;
    position: relative;
}
.card img{
    height: 100px;
    width: 100px;
}
.card img:hover{
    transform: scale(1.1);
    transition: 0.15s;
}
h5{
    color: black;
    font-size: 23;
    margin-bottom: 15px;
    text-align: center;
}

.contact{
    width: 100%;
    height: 290px;
    background: #f5c49c;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}